'''
to install the listed packages, run this command: 
pip install -r requirements.txt

on top of this, add this code in the python file you are running, then delete it once it has been run on your system:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
'''

pandas>=1.5.0
numpy>=1.23.0
matplotlib>=3.6.0
seaborn>=0.12.0
scikit-learn>=1.1.0
nltk>=3.7
torch>=2.0.0
transformers>=4.34.0
scipy>=1.8.0
wordcloud>=1.8.0